<h1><%= @wikis.title %></h1>
<%= link_to 'Edit Wiki', edit_wiki_path, class: 'btn btn-default' %>
<%= link_to 'Delete Wiki', @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you would like to delete this wiki?" } %>
<div class='row'>
  <div class='col-md-8'>
    <p>
      <%= markdown(@wikis.body) %>
    </p>
    <p>Created by:<%= @wikis.user_id %></p>
    <p>Private Wiki:<%= @wikis.private %></p>
  </div>
  
</div>
